<form id="commentform" method="POST" action="https://dev.staticman.net/v3/entry/github/hertze/hertze.github.io/master/comments">
	<h2>Submit a comment</h2>
	<p>Please read <a href="/privacy.html">my privacy policy</a> before submitting a comment.</p>
	<input name="options[redirect]" type="hidden" value="{{ site.url }}/submitted.html">
	<input name="options[slug]" type="hidden" value="{{ page.slug }}">
	<input name="fields[name]" type="text" placeholder="Your name" required>
	<input name="fields[email]" type="text" placeholder="Your email" style="display: none">
	<textarea name="fields[message]" placeholder="Your comment" required></textarea>
	<button type="submit">Send it!</button>
</form>