@media only screen and (max-width: 600px) {
	body {
		margin: 0 1rem 1rem 1rem;
	}	
	header {
		margin: 0 auto 6rem auto;
	}
	.logo-link {
		position: absolute;
		left: 50%;
		transform: translateX(calc(-50% - 0.5rem));
	}
	main {
		margin: 0;
	}
	article h1 {
		font-size: 2.4rem;
	}
	article p, footer p, .kindleContainer, .datestamp, .wide {
		left: 0;
	}
	article .outbound:first-child {
		margin-top: 3rem;
	}
	footer {
		margin-bottom: 0;
	}
	footer p {
		margin: 1.667rem 0;
	}
	.outbound {
		left: 0rem;
	}
}