@media only screen and (max-width: 600px) {
	body {
		margin: 0 1rem 1rem 1rem;
	}	
	header {
		margin: 0 auto 0 auto;
	}
	header a {
		position: relative;
		left: -0.5rem;
	}
	main {
		margin: 0;
	}
	article p, footer p, .kindleContainer, .datestamp, .wide {
		left: 0;
	}
	article .outbound:first-child {
		margin-top: 3rem;
	}
	footer {
		margin-bottom: 0;
	}
	footer p {
		margin: 1.667rem 0;
	}
	.outbound {
		left: 0rem;
	}
}