$basefont: "cardea", serif;
$headingfont: "cardea", serif;
$metafont: "prenton", sans-serif;

$background-color: #fff;
$textcolor: #333;
$headingcolor: #3C3C3C;
$lighttext: #ccc;
$altlink: #808080;
$linkcolor: #333;
$link-hover: #666;
$accent: #9EE1CB;
$light-accent: #E6E6E6;

$basewidth: 38em;
$footerwidth: $basewidth / 0.9;
$headingwidth: $basewidth/2.6*0.67;
$wide: $basewidth + 4em;