$basefont: "cardea", serif;
$headingfont: "cardea", serif;
$metafont: "prenton", sans-serif;

$background-color: #fff;
$textcolor: #333;
$headingcolor: #3C3C3C;
$lighttext: #ccc;
$altlink: #808080;
$linkcolor: #333;
$link-hover: #666;
$accent: #9EE1CB;
$light-accent: #E6E6E6;

$basewidth: 40em;
$footerwidth: 40em/0.9;
$headingwidth: 40em/2.6*0.67;