/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main layout */

body {
	background-color: #fff;
	font-size: 18px;
	line-height: 1.5;
	font-family: cardea, serif;
	font-weight: 400;
	font-style: normal;
	max-width: 40em;
	margin: 3em auto;
	color: #333;
}

header {
	margin: 0 1.6129em 3.2258em 1.6129em;
	font-style: italic;
	font-size: 1.2em;
	line-height:1.25em;
	
}

header p {
	max-width: 12em;
	margin: 0 auto;
	text-align: center;
}

main, nav {
	margin: 0 2em;
}

nav {
	text-align: center;
	font-family: ff-tisa-sans-web-pro,sans-serif;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	font-size: 0.8em;
	line-height: 1.875em;
	letter-spacing: 0.05em;
}

article {
	margin: 0 auto 6em auto;
}

article p, footer p {
	-webkit-hyphens: auto;
	  -ms-hyphens: auto;
	  hyphens: auto;
	  margin-bottom: 4.5em;
}

article p {
	margin: 1.5em 0;
	hanging-punctuation: first allow-end;
}

footer {
	font-family: ff-tisa-sans-web-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 3.75em auto;
	font-size: 0.9em;
	line-height: 1.875em;
	max-width: 36em;
}

/* Typography */

footer p {
	margin: 0 2.222em;
}

.datestamp {
	text-align: center;
	font-family: ff-tisa-sans-web-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
}


h1 {
	text-align: center;
	font-size: 2.2em;
	line-height: 1.3636em;
	max-width: 14em;
	hyphernation: ;
	margin: 1.3636em auto 0.6818em auto;
}

h2 {
	font-size: 1.6em;
	line-height: 1.1333em;
	max-width: 16em;
}

.anchor {
	position: relative;
	width: 1em;
	margin-left: -0.55em;
	left: 0.8em;
	bottom: 0.05em;
	color: #ccc;
}

strong {
	font-variant-caps: small-caps;
	font-feature-settings: "smcp";
	font-weight: normal;
	letter-spacing: 0.05em;
}

em {
	font-style: italic;
}

img {
	width: 100%;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
}

blockquote {
	margin-left: 3em;
	hanging-punctuation: first allow-end;
}

/* Links */

a {
	text-decoration: none;
	color:inherit;
}

a:hover {
	background-color: #DEFDF5;
	color: #333;
	box-shadow: none;
}

article p a, article li a {
	box-shadow: inset 0 -0.1em 0 0 #fff, inset 0 -0.25em 0 0 #9EE1CB;
}

footer p a, article .comment-count a {
	color: #808080;
	box-shadow: none;
}

/* Comments */

#comments {
	max-width: 28.5em;
	margin: 3em auto 0 auto;
}

.comment-count {
	font-family: ff-tisa-sans-web-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.9em;
}

.comment-list {
	list-style-type: none;
	margin: 1.5em 0 3em 0;
}

#comments form {
	width: 100%;
	margin: 1.5em 0 3em 0;
}

#comments input {
	width: 60%;
	padding: 0.5em;
	font-size: 0.9em;
	margin: 0.5em 0;
	border: 1px solid #ccc;
}
#comments textarea {
	width: 100%;
	height: 8em;
	padding: 0.5em;
	font-size: 0.9em;
	margin: 0.5em 0;
	border: 1px solid #ccc;
}

#comments submit {
	padding: 0.3em;
	font-size: 0.9em;
}

.comment-author {
	margin: -1.667em 0 1.667em 1.667em;
	font-family: ff-tisa-sans-web-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.9em;
}

.comment-author strong {
	font-variant-caps: none;
	font-feature-settings: "smcp" off;
	letter-spacing: 0;
	font-weight: 700;
}

.captiom {
	font-size: 0.9em;
	line-height: 1.667em;
	margin-top: -1.667em;
}

/* Footnotes */

.footnotes {
	font-size: 0.9em;
	line-height: 1.667em;
	border-top: 1px solid #999;
	width: 33%;
	
}

.footnotes ol {
	list-style-type: decimal;
	width: 300%;
}


sup {
	font-size: 0.9em;
	position: relative;
	bottom: 0.4em;
}

sup a, .reversefootnote {
	box-shadow: none!important;
	color: #9EE1CB;
}