---
---

@import 'variables';
@import 'graphics';
@import 'mixins';
@import 'normalize';

/* Main layout */

body {
	@include font($basefont, 400, normal, 20px, 1.5);
	background-color: $background-color;
	color: $textcolor;
	margin: 1rem;
	display: flex;
	flex-direction: column;
}

header {
	margin: 2rem auto 4.8387rem auto;
	width: 100%;
	max-width: $basewidth;
	text-align: center;
}

main {
	width: 100%;
	flex: 1;
}

nav {
	text-align: center;
	@include font($metafont, 500, normal, 1rem, 1.5);
	color: $lighttext;
	max-width: $footerwidth;
	margin: 0 auto;
	flex-shrink: 0;
}

article {
	margin: 0 auto 4rem auto;
}

article:last-child {
	margin-bottom: 4rem;
}

article p {
	@include hyphernation(auto);
	width: 100%;
	max-width: $basewidth;
	margin: 1.5rem auto;
	hanging-punctuation: first allow-end;
}

article ol, article ul {
	width: 100%;
	max-width: $basewidth;
	margin: 1.5rem auto;
	hanging-punctuation: first allow-end;
}

footer {
	@include font($metafont, 400, normal, 1.1rem, 1.5);
	@include hyphernation(auto);
	margin: 3.75rem auto 1.75rem auto;
	max-width: $footerwidth;
}

/* Typography */

.datestamp {
	@include font($metafont, 400, normal, 1.2rem, 1.5rem);
	color: $lighttext;
	position: relative;
}


h1 {
	@include font($headingfont, 700, normal, 3.4rem, 1.2);
	color: $headingcolor;
	letter-spacing: -0.05rem;
	max-width: $headingwidth;
	@include hyphernation(none);
	margin: 1.5rem auto 2.5rem auto;
}

h2 {
	@include font($headingfont, 700, normal, 1.6rem, 1.3);
}

strong {
	font-variant-caps: small-caps;
	font-feature-settings: "smcp";
	font-weight: normal;
	letter-spacing: 0.02em;
}

em {
	font-style: italic;
}

img {
	width: 100%;
	margin-bottom: 0.5em;
}

article .wide {
	max-width: 58rem!important;
	margin-bottom: 2rem;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
}

ol {
  list-style-type: lower-roman;
  list-style-position: inside;
}

article li {
	margin-bottom: 1.5rem;
}

blockquote {
	margin-left: 3em;
	hanging-punctuation: first allow-end;
}

.tags {
	@include font($metafont, 400, normal, 1rem, 1.5);
	max-width: $basewidth;
}

/* Links */

a {
	text-decoration: none;
	color: $linkcolor;
}

.tags a {
	color: $lighttext;
	box-shadow: none;
	margin-right: 0.5rem;
	background-image: none;
}

article h1 a, article h2 a, article .outbound a {
	color: $headingcolor;
}

nav a {
	color: $altlink;
}

article p a, article li a {
	background-image: linear-gradient(to bottom, $accent 60%, transparent 40%);
	background-position: 0 bottom;
	background-repeat: repeat-x;
	background-size: 2px 6px;
}

article .outbound a {
	background-image: linear-gradient(to bottom, $accent 60%, transparent 40%);
	background-position: 0 bottom;
	background-repeat: repeat-x;
	background-size: 2px 6px;
}

footer p a {
	color: $altlink;
	box-shadow: none;
}

main a:hover, nav a:hover, footer a:hover {
	color: #666666;
	background-image: linear-gradient(to bottom, $light-accent 60%, transparent 40%);
	background-position: 0 bottom;
	background-repeat: repeat-x;
	background-size: 2px 6px;
}

nav a:hover, footer a:hover {
	background-image: none;
}

article h1 a:hover {
	background-image: linear-gradient(to bottom, $light-accent 60%, transparent 40%);
	background-position: 0 3.7rem;
	background-repeat: repeat-x;
	background-size: 2px 0.15em;
}

article h1.outbound a:hover {
	background-image: linear-gradient(to bottom, $light-accent 60%, transparent 40%);
	background-position: 0 bottom;
	background-repeat: repeat-x;
	background-size: 2px 6px;
}

.entry-list {
	max-width: $basewidth;
	margin: 3em auto;
	list-style-type: none;
}

.entry-list li {
	margin-bottom: 3em;
}

.entry-list p {
	margin: 0;
}

.entry-list h2 {
	margin: 0.875em 0 0.4375rem 0;
}

.outbound {
	@include font($headingfont, 700, italic, 1.3rem, 1.1538rem);
	color: $headingcolor;
	letter-spacing: -0.02rem;
	@include hyphernation(auto);
	max-width: $basewidth;
	margin: 0 auto -1.1538rem auto;
	text-align: left;
	position: relative;
	left: 0rem;
}

article .outbound .anchor {
	@include font($headingfont, 700, italic, 1.8rem, 1.3636rem);
	position: relative;
	height: 0;
	width: 1rem;
	left: 0.3rem;
	top: 0.08rem;
	color: #ccc;
	background-image: none;
}

article .outbound .anchor:hover {
	color: $link-hover;
}

.logo-link {
	display: block;
	position: fixed;
	z-index: 1;
	top: 1rem;
	left: 2rem;
	width: 4rem;
	height: 4rem;
	background-image: $logo-green;
	background-repeat: no-repeat;
	background-position: left center;
}

.logo-link:after {
    background-image: $logo-grey;
	background-repeat: no-repeat;
	background-position: left center;
    content: "";
    opacity: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
	transition: opacity 200ms ease;
}

.logo-link:hover:after {
    opacity: 1;
	transition: opacity 200ms ease;
}

/* Footnotes */

.footnotes {
	font-size: 0.9rem;
	line-height: 1.667rem;
	border-top: 1px solid #999;
	width: 33%;
}

.footnotes ol {
	list-style-type: decimal;
	width: 300%;
}


sup {
	font-size: 0.9rem;
	position: relative;
	bottom: 0.4rem;
}

sup a, .reversefootnote {
	box-shadow: none!important;
	color: #9EE1CB;
}

/* Forms */

#comment {
	margin: 0 auto 3rem auto;
	width: 100%;
	max-width: $basewidth;
}

#comment p {
	margin-bottom: 0.5rem;
}

.comment-instruction {
	@include font($metafont, 400, normal, 1.2rem, 1.5rem);
	margin: 1.5rem 0!important;
	color: #ccc;
}

#comment input {
	font-family: $metafont;
	width: calc(100% - 1.5rem);
	max-width: 25rem;
	font-size: 1em;
	padding: 0.75rem;
	background-color: $formcolor;
	border: none;
	border-radius: 0.2rem;
}

#comment textarea {
	font-family: $metafont;
	width: calc(100% - 1.5rem);
	height: 8em;
	font-size: 1em;
	padding: 0.75rem;
	background-color: $formcolor;
	border: none;
	border-radius: 0.2rem;
}

#comment button {
	font-family: $metafont;
	font-weight: 500;
	font-style: normal;
	font-size: 1em;
	border: none;
	color: #fff;
	background-color: $buttoncolor;
	padding: 1rem 1.6rem 1rem 2.7rem;
	border-radius: 0.2rem;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	background-image: $paperplane;
	background-repeat: no-repeat;
	background-position: 0.8rem 55%;
	background-size: 1.6rem;
}

#comment button:hover {
	color: #fff!important;
	background-color: $textcolor;
	cursor: pointer;
}



@import 'mediaqueries';