---
---

@import 'variables';
@import 'graphics';
@import 'mixins';
@import 'normalize';

/* Main layout */

body {
	@include font($basefont, 400, normal, 19px, 1.5);
	background-color: $background-color;
	color: $textcolor;
	margin: 1em;
}

header {
	margin: 0 auto 4.8387em auto;
	width: 100%;
	max-width: $basewidth;
}

main, nav {
	margin: 0 auto;
	max-width: $basewidth;
}

header a {
	background-image: $logo;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	max-width: 18em;
	max-height: 8em;
	display: block;
	margin: 0 auto;
}

nav {
	text-align: center;
	@include font($metafont, 500, normal, 0.8em, 1.875em);
	color: $lighttext;
}

article {
	margin: 0 auto 6em auto;
}

article p, footer p {
	@include hyphernation(auto);
	margin-bottom: 4.5em;
}

article p {
	margin: 1.5em 0;
	hanging-punctuation: first allow-end;
}

footer {
	@include font($metafont, 400, normal, 0.9em, 1.875em);
	margin: 3.75em auto;
	max-width: $footerwidth;
}

/* Typography */

.datestamp {
	text-align: center;
	@include font($metafont, 400, normal, 1em, 1.5em);
	color: $lighttext;
}


h1 {
	@include font($headingfont, 700, normal, 2.6em, 1.3636em);
	color: $headingcolor;
	text-align: center;
	letter-spacing: -0.02em;
	max-width: $headingwidth;
	@include hyphernation(none);
	margin: 1.3636em auto 0.6818em auto;
}

h2 {
	font-size: 1.6em;
	line-height: 1.1333em;
	max-width: 16em;
}

.anchor {
	position: relative;
	width: 1em;
	margin-left: -0.55em;
	left: 0.8em;
	bottom: 0.05em;
	color: #ccc;
}

strong {
	font-variant-caps: small-caps;
	font-feature-settings: "smcp";
	font-weight: normal;
	letter-spacing: 0.02em;
}

em {
	font-style: italic;
}

img {
	width: 100%;
	margin-bottom: 0.5em;
}

article .wide {
	max-width: 48em!important;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
}

blockquote {
	margin-left: 3em;
	hanging-punctuation: first allow-end;
}

/* Links */

a {
	text-decoration: none;
	color: $linkcolor;
}

article h1 a {
	color: $headingcolor;
}

a:hover {
	color: #666666;
	box-shadow: inset 0 -0.1em 0 0 $background-color, inset 0 -0.25em 0 0 $light-accent;
}

nav a:hover {
	box-shadow: none;
}

article p a, article li a {
	box-shadow: inset 0 -0.1em 0 0 $background-color, inset 0 -0.25em 0 0 $accent;
}

footer p a {
	color: $altlink;
	box-shadow: none;
}

article h1 a:hover {
	box-shadow: inset 0 -0.18em 0 0 $background-color, inset 0 -0.25em 0 0 #E6E6E6;
}

header a:hover {
	box-shadow: none;
	opacity: 0.5;
}

/* Footnotes */

.footnotes {
	font-size: 0.9em;
	line-height: 1.667em;
	border-top: 1px solid #999;
	width: 33%;
}

.footnotes ol {
	list-style-type: decimal;
	width: 300%;
}


sup {
	font-size: 0.9em;
	position: relative;
	bottom: 0.4em;
}

sup a, .reversefootnote {
	box-shadow: none!important;
	color: #9EE1CB;
}

.kindleWidget {
	font-family: prenton, sans-serif;
	position: relative;
	top: -7.5em;
}

.kindleWidget img {
	width: inherit;
}

@import 'mediaqueries';