@import url("main.css");

body {
	font-size: 13px;
	line-height: 1.5;
	max-width: 40em;
	margin: 3em auto;
	color: #000;
}

.kindleWidget {
	display: none!important;
}

nav, header {
	display: none;
}