<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='/assets/main.css' media='screen' rel='stylesheet'>
	<link rel="stylesheet" href="https://use.typekit.net/tfb0hcj.css">
	<title>{{ page.title }}</title>
</head>
<body>
	<header>
		<p><a href="/">An open exploration of how the good old ways might sometimes be the better choice.</a></p>
	</header>
	
		{{ content }}
	
	<footer>
		<p>&copy; Joakim Hertze. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</footer>
</body>
</html>