<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/assets/main.css" media="screen" rel="stylesheet">
<link href="/assets/print.css" media="print" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/tfb0hcj.css">
{% feed_meta %}
<link rel="shortcut icon" href="/favicon.ico">
{% seo %}
</head>
<body>
	<header>
		<a class="logo-link" href="/" alt="{{ site.description }}">&nbsp;</a>
	</header>
	
		{{ content }}
	
	<footer>
		<p><strong>The Old Ways</strong> is a website on yesterday’s technology and on how some old things are new again, written by Joakim Hertze. I am a Swedish psychiatrist, with a keen interest in memory and cognition. Do drop me <a href="javascript:location='mailto:\u0068\u0065\u0072\u0074\u007a\u0065\u0040\u0068\u0065\u0079\u002e\u0063\u006f\u006d';void 0">an e-mail</a>! I will publish comments of public interest here, together with my answer. Old-style.</p>
	</footer>
</body>
</html>