<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/assets/main.css" media="screen" rel="stylesheet">
<link href="/assets/print.css" media="print" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/tfb0hcj.css">
{% feed_meta %}
<link rel="shortcut icon" href="/favicon.ico">
{% seo %}
</head>
<body>
	<header>
		<p><a href="/">{{ site.description }}</a></p>
	</header>
	
		{{ content }}
	
	<footer>
		<p>A website on old technology, written by Joakim Hertze. I am a Swedish psychiatrist, with a keen interest in disorders affecting cognition. Do drop me <a href='ma&#105;lt&#111;&#58;hell&#111;%40%&#54;Fld&#119;&#97;y&#37;&#55;3&#37;2E&#115;&#37;65'>an e-mail</a>! I will publish comments of public interest here, together with my answer. Old-style.</p>
	</footer>
	<script src="/assets/js/jquery-3.3.1.min.js"></script>
	<script src="/assets/js/app.js"></script>
</body>
</html>