---
layout: default
---

<main>
	<article>
		{% if post.link %}
			<h1><a href="{{ page.link }}">{{ page.title | markdownify | strip_html | strip }}</a></h1>
		{% else %}
		<h1><a href="{{ page.url }}">{{ page.title | markdownify | strip_html | strip }}</a></h1>
		{% endif %}
		<p class="datestamp">{{ page.date | date_to_string }}</p>
		{{ content }}
	</article>
	<div class="kindleWidget" style="display:inline-block;padding:3px;cursor:pointer;font-size:11px;font-family:sans-serif;white-space:nowrap;line-height:1;border-radius:3px;border:#ccc thin solid;color:black;background:transparent url('https://d1xnn692s7u6t6.cloudfront.net/button-gradient.png') repeat-x;background-size:contain;"><img style="vertical-align:middle;margin:0;padding:0;border:none;" src="https://d1xnn692s7u6t6.cloudfront.net/white-15.png" /><span style="vertical-align:middle;margin-left:3px;">Send to Kindle</span></div>
</main>
<nav>
	
	  {% if page.previous.url %}
	    <a class="prev" href="{{page.previous.url}}">&#8592; Previous entry</a>
	  {% endif %}
	  {% if page.previous.url and page.next.url %}
	  	&middot;
	  {% endif %}
	  {% if page.next.url %}
	    <a class="next" href="{{page.next.url}}">Next entry &#8594;</a>
	  {% endif %}
	
</nav>
<script type="text/javascript" src="https://d1xnn692s7u6t6.cloudfront.net/widget.js"></script>
<script type="text/javascript">(function k(){window.$SendToKindle&&window.$SendToKindle.Widget?$SendToKindle.Widget.init({"content":"article"}):setTimeout(k,500);})();</script>