---
layout: default
---

<main>
	<article>
		{% if post.link %}
			<h1><a href="{{ page.link }}">{{ page.title | markdownify | strip_html | strip }}</a></h1>
		{% else %}
		<h1><a href="{{ page.url }}">{{ page.title | markdownify | strip_html | strip }}</a></h1>
		{% endif %}
		<p class="datestamp">{{ page.date | date_to_string }}</p>
		{{ content }}
		{% if site.staticman %}
		<div id="comments">
		{% include staticmancomments.html %}
		{% include staticmanform.html %}
		</div>
		{% endif %}
	</article>
</main>
<nav>
	
	  {% if page.previous.url %}
	    <a class="prev" href="{{page.previous.url}}">&#8592; Previous entry</a>
	  {% endif %}
	  {% if page.previous.url and page.next.url %}
	  	&middot;
	  {% endif %}
	  {% if page.next.url %}
	    <a class="next" href="{{page.next.url}}">Next entry &#8594;</a>
	  {% endif %}
	
</nav>